<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap" rel="stylesheet">
    <meta content="{{site.description}}" name="description" />
    <meta content="{{site.owner}}" name="author" />
    <meta content="Copyright 2023 {{site.owner}}. All rights reserved." name="copyright" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
